# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment Variables
.env

# Database
data/
*.db
*.db-journal
*.db-wal
*.db-shm

# Runtime-generated per-guild config
config.guilds/

# IDE
.vscode/
# Logs
log/